// Bodoni book font

@font-face {
  font-family: "bodonibook";
  src: url("../../css/fonts/bodoni/bodoni_book-webfont.woff2") format("woff2"),
    url("../../css/fonts/bodoni/bodoni_book-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

// Lato font

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

// font-family: 'Lato', sans-serif;

$bodoni: "bodonibook";
$lato: "Lato", sans-serif;
