.lead-section {
  padding: 140px 0;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;

  .lead-section-title {
    font-family: $bodoni;
    font-size: 3rem;
    font-weight: $font-weight-lighter;
    line-height: 4rem;
    letter-spacing: 1.8px;
    display: inline-block;
    width: 50%;

    a {
      color: $white;
      &:hover {
        text-decoration: none;
        color: $primary;
      }
    }
  }
} // lead-section end

@media (min-width: 576px) {
  .lead-section {
    .lead-section-title {
      font-size: 3.5rem;
      letter-spacing: 6px;
    }
  }
} // lead-section end

@media (min-width: 992px) {
  .lead-section {
    padding: 140px 0;
    .lead-section-title {
      font-size: 4rem;
      line-height: 6.4rem;
      letter-spacing: 2rem;
    }
  }
} // lead-section end

@media (min-width: 1200px) {
  .lead-section {
    padding: 200px 0;
    .lead-section-title {
      font-size: 6rem;
      line-height: 8.4rem;
      letter-spacing: 2rem;
    }
  }
} // lead-section end
